section.page-section.trends
	.wrapper.trends__wrapper
		.page-section__top.trends__top
			h2.title.title--h2.page-section__title <b>Тренды</b> сезона

			.page-section__link.trends__link
				a(href="#").link
					span.link__text Перейти в каталог
					+icon('@sprite/arrow-circle').link__icon

		.trends__slider.trends-slider.swiper
			.swiper-wrapper.trends__swiper-wrapper

				-for(let i=0; i<3; i++)
					+card('Sale', 'swiper-slide')
					+card('Акция! 1+1=3', 'swiper-slide')
					+card('Sale', 'swiper-slide')
					+card('Бесплатная доставка', 'swiper-slide')
					+card('Sale', 'swiper-slide')
					+card('Бесплатная доставка', 'swiper-slide')
