.popup#broadcast
	.popup__block.popup__block--bg
		.popup__close
		.popup__title трансляция <br> боя
		.popup__content
			.popup__text
				p Трансляция будет доступна на YouTube канале RCC Media
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt nobis quam sequi repellat reiciendis quasi temporibus ipsum commodi veritatis! Sequi?
				ul
					li Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa, aliquam!
					li Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa, aliquam!
					li Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa, aliquam!
					li Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa, aliquam!
					li Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa, aliquam!

			.popup__text
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores at earum perspiciatis nesciunt saepe magni, veniam nobis enim dolorum incidunt excepturi corporis voluptatibus! Totam perspiciatis modi atque iste praesentium soluta.
				p Lorem ipsum dolor sit amet.
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quam doloremque quas id temporibus adipisci.

			.popup__btns
				a(href="#").btn перейти

		.popup__content
			.popup__text
				p Трансляция будет доступна на YouTube канале RCC Media
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt nobis quam sequi repellat reiciendis quasi temporibus ipsum commodi veritatis! Sequi?
				ul
					li Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa, aliquam!
					li Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa, aliquam!
					li Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa, aliquam!
					li Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa, aliquam!
					li Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa, aliquam!

			.popup__text
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores at earum perspiciatis nesciunt saepe magni, veniam nobis enim dolorum incidunt excepturi corporis voluptatibus! Totam perspiciatis modi atque iste praesentium soluta.
				p Lorem ipsum dolor sit amet.
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quam doloremque quas id temporibus adipisci.

			.popup__btns
				a(href="#").btn перейти


